# Virtual environments
venv/
.venv/

# Secrets and environment variables
.env
.env.*
!.env.example

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Test and coverage files
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model/cache downloads
.cache/
huggingface/

# VS Code workspace settings
.vscode/

# macOS files
.DS_Store

# Streamlit local configuration secrets
.streamlit/secrets.toml


# Large or copyrighted learning documents
*.pdf